@use "./partials/mixins" as *;
@use "./partials/variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li:hover {
    color: $link-active-color;
}

html {
    font-family: sans-serif;
}

main {
    width: 100%;
    background-color: black;
}